.photo-card {
    height: 30vh;
    width: 30vw;
    margin-top: 7vh;
}

.photo-card-img { 
    height: 17vw;
    width: auto;
}

.photo-card-title {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .photo-card {
        height: 50vh;
        width: 50vw;
        margin-top: 7vh;
    }
    .photo-card-img { 
        height: auto;
        width: 50vw;
    }
    .photo-card-title {
        font-size: 14px;
    }
}

.photo-card-subtitle {
    text-align: center;
}


#card1 {
    align-self: flex-end;
}

#card2 {
    align-self: flex-start;
}

#card3 {
    align-self: flex-end;
    margin-right: 15vw;
    margin-top: 5vw;
}

#card4 {
    align-self: flex-start;
}

#card5 {
    align-self: flex-end;
    margin-right: 7vw;
    margin-top: -5vw;
}